html {
  height: 100%;
}
.wf-loading {
  @include transition(opacity $pageTransition-time $pageTransition-ease);
  opacity: 0;
}
.wf-active,
.wf-inactive {
  opacity: 1;
}
body {
  background: $color-siteBackground;
  min-height: 100%;
  margin: 0;
  padding: $space-base * 2.5 0 0;
  position: relative;
}
hr {
  border-bottom: $border-solid;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $space-base 0;
}
.hr--flushBottom {
  margin-bottom: 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
}
section,
article,
footer {
  position: relative;
}
article {
  margin-top: $space-base;
}
.u-full {
  padding: $space-base * 2 0;
}
.homeHeader-h1 {
  font-size: modular-scale(2);
  @include media($medium-screen) {
    font-size: modular-scale(4);
  }
  @include media($large-screen) {
    font-size: modular-scale(5);
  }
}
.collab {
  margin: 0 $space-base;
  position: relative;
}
.collab-imgWrapper {
 @extend .u-col12Small, .u-col5Medium, .u-col6Large;
}
.collab-img {
  margin-top: $space-base *-6;
  position: relative;
  left: 67.5%;
  width: 37.5%;
  z-index: $zIndex-0;
  @include media($medium-screen) {
    left: 18.75%;
    margin-top: $space-base *-2;
    width: 75%;
  }
  @include media($large-screen) {
    left: 25%;
    margin-top: 0;
    width: 68.75%;
  }
}
.collab-copy {
  @extend .u-col12Small, .u-col6Medium, .u-col5Large;
  @include media($small-screen) {
    margin-top: $space-base *-4;
  }
}
.pullquote {
  text-align: center;
}
.pullquote-copy {
  font-size: modular-scale(2);
  position: relative;
}
.pullquote-marks {
  font-family: $fontFamily-display;
  font-size: modular-scale(6);
  position: absolute;
}
.pullquote-byline {

}
.caseStudy-bg {
  background-image: url(../img/photo-casestudy.jpg);
  background-size: contain;
  @include media($small-screen) {
    position: relative;
    left: $space-base *-1;
  }
  @include media($medium-screen) {
    left: 0;
  }
}
.caseStudy-copy {
  @extend .u-col12Small, .u-col7Medium, .u-col6Large, .u-right;
  background-color: $color-siteBackground;
  position: relative;
  top: $space-base *2;
  right: $space-base *-1;
}
.paper {
  box-shadow: 8px 8px 32px $color-gray;
  padding: $space-base *2;
}
.overline {
  margin-bottom: $space-base *-1.5;
  margin-top: $space-base *2;
  padding-top: $space-base *2;
  width: $space-base *3;
}
