html {
  height: 100%;
}
.wf-loading {
  @include transition(opacity $pageTransition-time $pageTransition-ease);
  opacity: 0;
}
.wf-active,
.wf-inactive {
  opacity: 1;
}
body {
  background: $color-siteBackground;
  min-height: 100%;
  margin: 0;
  padding: $space-base * 2.5 0 0;
  position: relative;
}
hr {
  border-bottom: $border-solid;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $space-base 0;
}
.hr--flushBottom {
  margin-bottom: 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
}
section,
article,
footer {
  position: relative;
}
article {
  margin-top: $space-base;
}
.u-full {
  padding: $space-base * 2 0;
}
.homeHeader-h1 {
  font-size: modular-scale(2);
  @include media($medium-screen) {
    font-size: modular-scale(4);
  }
  @include media($large-screen) {
    font-size: modular-scale(5);
  }
}
.collab {
  margin: 0 $space-base;
  position: relative;
}
.collab-imgWrapper {
 @extend .u-col12Small, .u-col6Medium, .u-col6Large;
}
.collab-img {
  top: $space-base *-2;
  position: relative;
  width: 50%;
  z-index: $zIndex-0;
  min-width: 230px;
  left: 12.5%;
  @include media($medium-screen) {
    top: $space-base *-3;
    width: 75%;
  }
  @include media($large-screen) {
    left: 20%;
    top: $space-base *-5;
  }
}
.collab-copy {
  @extend .u-col12Small, .u-col6Medium, .u-col5Large;
  @include media($small-screen) {
    margin-top: $space-base *-4;
  }
}
.pullquote {
  position: relative;
  margin-bottom: $space-base *2;
  margin-top: $space-base *4;
  @include media($medium-screen) {
    margin-bottom: $space-base *3;
    margin-top: $space-base *4;
  }
}
.pullquote-copy {
  font-size: modular-scale(2);
  position: relative;
  @extend .u-col12Small, .u-col6Medium, .u-col8Large;
  z-index: $zIndex-1;
  display: block;
  @include media($medium-screen) {
    @include shift(3);
  }
  @include media($large-screen) {
    @include shift(1);
  }
}
.pullquote-marks {
  font-family: $fontFamily-display;
  font-size: 500px;
  position: absolute;
  color: #F1E61E;
  top: -230px;
  @include media($medium-screen) {
    left: 12%;
  }
  @include media($large-screen) {
    left: -5%;
  }
}
.pullquote-byline {
  display: block;
  font-size: modular-scale(1);
  @extend .u-col12Small;
}
.pullquote-img {
  max-width: modular-scale(10);
  @include media($medium-screen) {
    margin-top: $space-base *4;
  }
  @include media($large-screen) {
    margin-top: $space-base *2;
  }
}
.caseStudy-bg {
  background-image: url(../img/photo-casestudy.jpg);
  background-size: contain;
  @include media($small-screen) {
    position: relative;
    left: $space-base *-1;
  }
  @include media($medium-screen) {
    left: 0;
  }
}
.caseStudy-copy {
  @extend .u-col12Small, .u-col7Medium, .u-col6Large, .u-right;
  background-color: $color-siteBackground;
  padding: $space-base *2;
  position: relative;
  top: $space-base *2;
  right: $space-base *-2;
}
.paper {
  box-shadow: 8px 8px 32px $color-black10;
}
.overline {
  margin-bottom: $space-base /2;
  margin-top: $space-base *2;
  padding-top: $space-base *2;
  width: $space-base *3;
}
.ourWork {
  margin-top: $space-base;
}
.ourWork-item {
  @extend .u-col12Small, .u-col6Medium, .u-col6Large;
  margin-bottom: $space-base;
}
.ourWork-copy {
  padding: 0 $space-base *2;
}
.ourWork-title {
  margin-top: $space-base;
}
.ourWork-byline {
  display: block;
  margin: $space-base /-2 0 $space-base /2;
}
.ourWork-btn,
.btn--external {
  color: $color-greenShade;
  margin-left: $space-base *-1;
  margin-bottom: $space-base;
  vertical-align: middle;
}
.ourWork-btn img {
  margin-top: -2px;
  vertical-align: middle;
}
.flavor {
  padding: $space-base;
  text-align: center;
}
.flavor-header{
  font-size: modular-scale(4);
  margin: $space-base /2 0 $space-base /3;
}
.flavor-img {
  height: $space-base *7;
  width: auto;
}
.flavor-item {
  @extend .u-col12Small, .u-col6Medium, .u-col3Large;
  padding: 0 $space-base;
  margin-bottom: $space-base *3;
}
.flavor p {
  font-size: modular-scale(0);
}
