// Containers
.u-outerContainer {
  @include outer-container;
  margin: modular-scale(4) auto;
  padding: 0 $space-base * .75;
  @include media($medium-screen-up) {
    margin-top: modular-scale(5);
    margin-bottom: modular-scale(5);
    padding-right: $space-base;
    padding-left: $space-base;
  }
}
.u-outerContainer--condensed {
  @extend .u-outerContainer;
  margin: modular-scale(2) auto;
  @include media($medium-screen-up) {
    margin-top: modular-scale(3);
    margin-top: modular-scale(3);
  }
}
.u-outerContainer--noMargin {
  @extend .u-outerContainer;
  margin: 0 auto;
}
.u-row {
  @include row();
  margin-bottom: $space-base;
}
// Small Grid Classes
@for $i from 1 through 12 {
  $m: 12 % $i;
  $o: 12 / $i;
  @include media(min-width $small-screen max-width ($medium-screen - .03625em)) {
    .u-col#{$i}Small {
      @include span-columns($i);
      @if $m == 0 {
        &:nth-child(#{$o}n+#{$o}) {
          @include omega;
        }
      }
    }
    .u-push#{$i}Small {
      @include shift($i);
    }
    .u-pull#{$i}Small {
      @include shift(-$i);
    }
  }
}
// Medium Grid Classes
@for $i from 1 through 12 {
  $m: 12 % $i;
  $o: 12 / $i;
  @include media(min-width $medium-screen max-width ($large-screen - .03625em)) {
    .u-col#{$i}Medium {
      @include span-columns($i);
      @if $m == 0 {
        &:nth-child(#{$o}n+#{$o}) {
          @include omega;
        }
      }
    }
    .u-push#{$i}Medium {
      @include shift($i);
    }
    .u-pull#{$i}Medium {
      @include shift(-$i);
    }
  }
}
// Large Grid Classes
@for $i from 1 through 12 {
  $m: 12 % $i;
  $o: 12 / $i;
  @include media($large-screen) {
    .u-col#{$i}Large {
      @include span-columns($i);
      @if $m == 0 {
        &:nth-child(#{$o}n+#{$o}) {
          @include omega;
        }
      }
    }
    .u-push#{$i}Large {
      @include shift($i);
    }
    .u-pull#{$i}Large {
      @include shift(-$i);
    }
  }
}
// // XLarge Grid Classes
// @for $i from 1 through 12 {
//   $m: 12 % $i;
//   $o: 12 / $i;
//   @include media(min-width $xlarge-screen max-width $xxlarge-screen) {
//     .u-col#{$i}Xlarge {
//       @include span-columns($i);
//       @if $m == 0 {
//         &:nth-child(#{$o}n+#{$o}) {
//           @include omega;
//         }
//       }
//     }
//     .u-push#{$i}Xlarge {
//       @include shift($i);
//     }
//     .u-pull#{$i}Xlarge {
//       @include shift(-$i);
//     }
//   }
// }
// // XXLarge Grid Classes
// @for $i from 1 through 12 {
//   $m: 12 % $i;
//   $o: 12 / $i;
//   @include media($xxlarge-screen) {
//     .u-col#{$i}Xxlarge {
//       @include span-columns($i);
//       @if $m == 0 {
//         &:nth-child(#{$o}n+#{$o}) {
//           @include omega;
//         }
//       }
//     }
//     .u-push#{$i}Xxlarge {
//       @include shift($i);
//     }
//     .u-pull#{$i}Xxlarge {
//       @include shift(-$i);
//     }
//   }
// }
