.angled:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $space-base $space-base * 8 0 0;
    border-color: transparent lightgrey transparent transparent;
    content:'';
    position:absolute;
    right:0;
    top:-20px;
}
.angled:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $space-base $space-base * 8 0 0;
    border-color: transparent white transparent transparent;
    content:'';
    position:absolute;
    right:0;
    bottom:0px;
}
