$bar-maxWidth: calc(100% - 108px);

.barGraph {
  @extend .font-bodyN6;
  margin: $space-base * 2 0;
}
.barGraph-item {
  margin-bottom: $space-base / 6;
}
.barGraph-label {
  @extend .font-bodyI5;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: $space-base * 4.25;
  @include media($large-screen) {
    font-size: modular-scale(1);
    line-height: $space-base * 2;
  }
}

$waypoint-transition-time: 1.75s;
$waypoint-transition-ease: ease-in-out;
.barGraph-barWrapper {
  @include transition(max-width $waypoint-transition-time $waypoint-transition-ease);
  display: inline-block;
  left: $space-base / 2;
  max-width: $space-base;
  min-width: $space-base;
  position: relative;
  @include media($large-screen) {
    min-width: $space-base * 1.125;
  }
}
.is-grown {
  max-width: $bar-maxWidth;
}
#mustache-channels .barGraph-barWrapper {
  @include animation(isGrown $waypoint-transition-time $waypoint-transition-ease forwards);
}
@keyframes isGrown {
    from { max-width: $space-base; }
    to { max-width: $bar-maxWidth; }
}
.barGraph-bar {
  background-color: $color-pink;
  @include linear-gradient(to right, $color-green, $color-pink);
  display: inline-block;
  height: $space-base * 1.5;
  padding: 0 $space-base / 3;
  position: relative;
  vertical-align: middle;
  width: 100%;
  @include media($large-screen) {
    height: $space-base * 2;
  }
}
.barGraph-value {
  color: rgba($color-black90, 0.65);
  font-size: modular-scale(-1);
  line-height: $space-base * 1.5;
  position: absolute;
  right: $space-base / 12;
  top: 0;
  @include media($large-screen) {
    font-size: modular-scale(0);
    line-height: $space-base * 2;
  }
}
.barGraph--withNegative {
  $break1: 376px;
  $break2: 560px;
  $break3: 768px;
  $break4: 880px;

  @extend .barGraph;
  position: relative;

  .barGraph-item {
    position: relative;
  }
  .barGraph-barWrapper {
    left: 35%;
    min-width: $space-base * 1.125;
    @include media($break1) {
      left: 36.5%;
    }
    @include media($break3) {
      left: 37%;
    }
    @include media($large-screen) {
      min-width: $space-base * 1.1875;
    }
  }
  .barGraph-item--negative {
    @extend .barGraph-item;
    height: $space-base * 1.5;
    @include media($large-screen) {
      height: $space-base * 2;
    }

    .barGraph-barWrapper {
      left: auto;
      position: absolute;
      right: 35%;
      @include media($break1) {
        right: 36.5%;
      }
      @include media($break2) {
        right: 46%;
      }
      @include media($break3) {
        right: 48%;
      }
      @include media($break4) {
        right: 51.5%;
      }
    }
    .barGraph-bar {
      @include linear-gradient(to left, $color-green, $color-blue);
    }
    .barGraph-value {
      left: $space-base / 12;
    }
  }
}
