// $pulse-transition-time: 2s;
// $pulse-transition-ease: linear;
$bubble-size: $space-base * 12;

.bubble {
  background-color: $color-midnight;
  border-radius: $border-round;
  height: $bubble-size;
  left: calc((100% - 288px)*2/3);
  margin-bottom: $space-base;
  position: relative;
  width: $bubble-size;
  @include media($medium-screen) {
    left: calc((100% - 288px)*4/5);
  }
  @include media($large-screen) {
    height: $bubble-size * 1.5;
    left: calc(100% - 288px);
    width: $bubble-size * 1.5;
  }
}
// .is-pulsing {
//   @include animation(pulse $pulse-transition-time $pulse-transition-ease 1);
// }
// @-webkit-keyframes pulse {
//     0% {
//       opacity: 1;
//     }
//     50% {
//       opacity: 0.75;
//     }
//     100% {
//       opacity: 1;
//     }
// }
.bubble:first-of-type {
  background-color: $color-pink;
  left: 1rem;
  @include media($medium-screen) {
    margin-bottom: -$space-base * 8;
  }
  @include media($large-screen) {
    margin-bottom: -$space-base * 12;
  }
}
.bubble:nth-of-type(2) {
  @include media($large-screen) {
    margin-left: -$space-base * 2;
  }
}
.bubble:last-of-type {
  background-color: $color-green;
  left: calc((100% - 288px)*1/3);
  padding-top: $space-base / 1.5;
  @include media($medium-screen) {
    margin-top: -$space-base * 3;
  }
  @include media($large-screen) {
    padding-top: 0;
  }
  .bubble-p {
    color: rgba($color-black90, .8);
  }
  .bubble-quote {
    color: rgba($color-black90, .8);
  }
}
.bubble-content {
  padding: $space-base * 2.25 $space-base * 1.25;
  text-align: center;
  @include media($large-screen) {
    padding: $space-base * 4.5 $space-base * 2;
  }
}
.bubble-heading {
  color: rgba($color-white90, .9);
  font-size: modular-scale(1);
  @include media($large-screen) {
    font-size: modular-scale(3);
  }
}
.bubble-callout {
  @extend .font-headingN6;
  color: rgba($color-midnightShade, .4);
  display: inline-block;
  font-size: modular-scale(8);
  margin: -$space-base 0;
  position: relative;
  z-index: $zIndex-0;
  @include media($large-screen) {
    font-size: modular-scale(9);
    margin-top: -$space-base * 2;
  }
}
.callout-span {
  color: $color-midnightShade;
  display: block;
  font-size: modular-scale(1);
  left: 50%;
  margin-left: -$space-base * 3;
  position: absolute;
  top: 62.5%;
  width: $space-base * 6;
  @include media($large-screen) {
    font-size: modular-scale(2);
  }
}
.bubble-p,
.bubble-quote {
  position: relative;
  z-index: $zIndex-1;
}
.bubble-p {
  color: rgba($color-white90, .8);
  font-size: modular-scale(0);
  @include media($large-screen) {
    font-size: modular-scale(1);
  }
}
.bubble-quote {
  @extend .font-bodyI4;
  color: rgba($color-white90, .9);
  font-size: modular-scale(1);
  @include media($large-screen) {
    font-size: modular-scale(3);
  }
}
