.colorCycle {
  color: $color-body;
  animation-name: homeCycle;
  animation-duration:1s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: homeCycle;
  -webkit-animation-duration:6s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite;
}

@keyframes homeCycle
{
0% {color: $color-black90;}
25% {color: $color-black80;}
50% {color: $color-black90;}
75% {color: $color-black;}
}

@-webkit-keyframes homeCycle
{
0% {color: $color-black90;}
25% {color: $color-black80;}
50% {color: $color-black90;}
75% {color: $color-black;}
}
