.confetti-wrapper {
}
.confetti-piece {
  position: absolute;
  z-index: $zIndex-3;
  mix-blend-mode: multiply;
}
.piece--ne {
  right: -16%;
  top: 4%;
  @include media($medium-screen-up) {
    right: 3%;
    top: 4%;
  }
}
.piece--se {
  right: 0;
  top: 20%;
  @include media($medium-screen-up) {
    right: 20%;
    top: 22%;
  }
}
.piece--nw {
  left: -5%;
  top: 13%;
  @include media($medium-screen-up) {
    left: 4%;
    top: 9%;
  }
}
.piece--n {
  left: 50%;
  top: 0.5%;
}
