.confetti-wrapper {
}
.confetti-piece {
  position: absolute;
  z-index: $zIndex-3;
  mix-blend-mode: multiply;
}
.piece--ne {
  right: -16%;
  top: 4%;
  @include media($medium-screen-up) {
    right: 3%;
    top: 4%;
    transform: rotate(0deg);
    animation: spin-counterclockwise 80s ease infinite;
  }
}
.piece--se {
  right: 0;
  top: 20%;
  @include media($medium-screen-up) {
    right: 20%;
    top: 16%;
    transform: rotate(0deg);
    animation: spin-counterclockwise 20s ease infinite;
  }
}
.piece--nw {
  left: -5%;
  top: 13%;
  @include media($medium-screen-up) {
    left: 4%;
    top: 9%;
    transform: rotate(0deg);
    animation: spin-clockwise 40s ease infinite;
  }
}
.piece--n {
  left: 50%;
  top: 0.5%;
  @include media($medium-screen-up) {
    transform: rotate(0deg);
    animation: spin-clockwise 20s ease infinite;
  }
}

@keyframes spin-clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes spin-counterclockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
