$pink-over: rgba($color-midnight, 0.0625);
$purple-over: rgba($color-pink, 0.125);
$green-over: rgba($color-green, 0.03625);

.gridItems--work,
.gridItems--team,
.gridItems--creators {
  @extend .gridItems;
}
.gridItems-item {
  @include media($medium-screen) {
    @include gridItems-item-columns($gridItems-item-columns--2);
  }
  @include media($large-screen) {
    @include gridItems-item-columns($gridItems-item-columns--3);
  }
}
.gridItems--work .gridItems-item {
  @include media($large-screen) {
    min-height: 584px;
  }
}
.gridItems--team {
  $team-imgWidth: 120px;

  .gridItems-item {
    @include media($medium-screen) {
      min-height: 640px;
    }
    @include media($large-screen) {
      @include gridItems-item-columns($gridItems-item-columns--2);
      min-height: 616px;
    }
  }
  .gridItems-imgWrapper {
    position: relative;
  }
  .gridItems-img {
    height: $team-imgWidth;
    width: auto;
    @include media($medium-screen) {
      height: $team-imgWidth * 1.33;
    }
    @include media($large-screen) {
      height: $team-imgWidth * 1.5;
    }
  }
  .gridItems-overlay {
    background-color: $pink-over;
    @include linear-gradient(45deg, $pink-over, $purple-over);
    border-radius: $border-round;
    height: $team-imgWidth;
    position: absolute;
    width: $team-imgWidth;
    left: 0;
    @include media($medium-screen) {
      height: $team-imgWidth * 1.33;
      width: $team-imgWidth * 1.33;
    }
    @include media($large-screen) {
      height: $team-imgWidth * 1.5;
      width: $team-imgWidth * 1.5;
    }

  }
  .gridItems-title {
    font-size: modular-scale(2);
  }
  .gridItems-item:nth-of-type(2n) .gridItems-imgWrapper .gridItems-overlay {
    background-color: $pink-over;
    @include linear-gradient(225deg, $purple-over, $green-over);
  }
  .gridItems-item:nth-of-type(3n+2) .gridItems-imgWrapper .gridItems-overlay {
    background-color: $green-over;
    @include linear-gradient(135deg, $green-over, $pink-over);
  }
  .gridItems-clip--circle {
    border-radius: $border-round;
  }
  .gridItems-subtitle {
    font-size: modular-scale(1);
    padding: 0;
    margin-bottom: $space-base / 2;
    text-transform: initial;
  }
}
.gridItems--process {
  @extend .gridItems;
  .gridItems-subtitle {
    @extend .font-headingI5;
    font-size: modular-scale(1);
    padding: 0;
    margin-bottom: $space-base / 2;
    text-transform: initial;
  }
}
