.menu--right {
  float: none;
  @include media ($mobileMenuBreak) {
    float: right;
  }
}
.menu-list {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  position: relative;
  top: 11px;
  width: 100%;
  @include media ($mobileMenuBreak) {
    display: block;
    height: $height--siteHead;
    top: 0;
  }
}
.menu-list.is-shown {
  display: block;
}

// Nav items
.menu-listItem {
  background-color: $color-black60;
  border-bottom: solid 1px $color-siteBackground;
  display: block;
  padding: 0;
  text-align: center;
  width: 100%;
  @include media ($mobileMenuBreak) {
    background: transparent;
    border: none;
    display: inline-block;
    text-decoration: none;
    width: auto;
  }
}
.menu-listItem:first-of-type {
  border-top: solid 1px $color-siteBackground;
}
.menu-itemLink {
  @extend .font-bodyN5;
  @include transition(background-color $transition-time $transition-ease, color $transition-time $transition-ease);
  border: none;
  display: block;
  height: $height--siteHead;
  padding: 0 $space-base / 3;
  @include media($mobileMenuBreak) {
    color: $color-white20;
    &:focus,
    &:hover {
      color: $color-pink;
    }
  }
}
