.siteHead {
  // background-color: $color-egg;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zIndex-2;
}
.siteHead-wrapper {
  border: none;
  margin: 0;
  max-width: none;
}
.siteHead-logo {
  border: none;
  margin: 0;
  padding: 0;
}
.siteHead-logoImg {
  height: 32px;
  margin-top: 18px;
  vertical-align: middle;
  width: auto;
}
.siteHead-logoImg img {
  height: 100%;
  vertical-align: middle;
  margin-right: 4px;
}
.siteHead-logoImg {
  &:focus,
  &:hover {
    img:first-of-type {
      @include transition(transform 600ms $transition-ease);
      transform: rotate(360deg);
    }
  }
}

// Mobile view
.siteHead-mobileMenuBtn {
  @extend .font-bodyN6;
  border: solid 1px $color-pink !important;
  display: block;
  font-size: modular-scale(-1);
  float: right;
  margin: 11.5px 0 0;
  padding: $space-base / 3 $space-base / 1.5;
  text-transform: uppercase;
  @include media($mobileMenuBreak) {
    display: none;
  }
}
