@mixin arrow($color, $width) {
  &:after {
    content: " ";
    pointer-events: none;
    position: absolute;
    border: solid transparent;
    width: 0;
    height: 0;
    top: 0;
    left: -$width / 2;
    margin-left: -$width / 2;
    border-width: $space-base * 3;
    border-left-width: $width*3/2;
    border-right-width: $width*3/2;
    border-top-color: $color;
  }
}
