$color--btnPrimary: $color-blue !default;
$color--btnTextPrimary: $color-white;
$color--btnSecondary: tint($color-blue, 40%) !default;
$color--btnTextSecondary: $color-white !default;
$fontSize--btn: modular-scale(0) !default;
$fontSize--btnBig: modular-scale(1) !default;
$fontSize--btnSmall: modular-scale(-1) !default;
$height--btn: $space-base * 2 !default;
$height--btnBig: $space-base * 3 !default;
$height--btnSmall: $space-base * 1.5 !default;

#{$all-button-inputs},
button,
.btn {
  @extend .font-bodyN6;
  @include appearance(none);
  @include transition(background-color $transition-time $transition-ease, color $transition-time $transition-ease);
  -webkit-font-smoothing: antialiased;
  background-color: $color--btnPrimary;
  border-radius: $border-radius;
  border: none;
  color: $color--btnTextPrimary;
  cursor: pointer;
  display: inline-block;
  font-family: $fontFamily-body;
  font-size: $fontSize--btn;
  height: $height--btn;
  line-height: $height--btn;
  margin-bottom: $space-base/2;
  padding: 0 $space-base;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover,
  &:focus {
    background-color: darken($color--btnPrimary, 5%);
    color: $color--btnTextPrimary;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.btn--secondary,
button.btn--secondary,
input[type="submit"].btn--secondary {
  @extend .btn;
  background-color: $color--btnSecondary;
  color: $color--btnTextSecondary;
  &:hover,
  &:focus {
    background-color: darken($color--btnSecondary, 5%);
    border-color: darken($color--btnSecondary, 5%);
    color: $color--btnTextSecondary;
  }
}
.btn--center,
button.btn--center,
input[type="submit"].btn--center {
  @extend .btn, .u-textCenter;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn--big,
button.btn--big,
input[type="submit"].btn--big {
  @extend .btn;
  font-size: $fontSize--btnBig;
  height: $height--btnBig;
  line-height: $height--btnBig;
  padding: 0 $space-base * 2;
}
.btn--small,
button.btn--small,
input[type="submit"].btn--small {
  @extend .btn;
  font-size: $fontSize--btnSmall;
  padding: 0 $space-base / 2;
}
.btn--wide,
button.btn--wide,
input[type="submit"].btn--wide {
  @extend .btn;
  width: 100%;
}
