$button-group-background: $color-white;
$button-group-color: lighten($color-body, 30%);
$button-group-border: 1px solid $color-white50;
$button-group-background-checked: $color-yellow;
$button-group-color-checked: $color-body;
$button-group-border-checked: $button-group-background-checked;
$button-group-background-dark: darken($button-group-background-checked, 15%);
.buttonGroup {
  margin-bottom: $space-base / 2;
}
.buttonGroup > span {
  display: inline-block;
  margin-bottom: $space-base;
}
.buttonGroup input {
  display: none;
}
.buttonGroup-label {
  display: block;
  opacity: 0.6;
}
.buttonGroup-label.label--is-focused {
  opacity: 1;
}
.buttonGroup span label {
  display: inline-block;
  margin: 2px 4px 0 0;
  min-width: $space-base * 2;
  opacity: 1;
  text-align: center;
  text-transform: initial;
  &:focus,
  &:hover {
    border-color: $button-group-background-checked;
  }
}
.buttonGroup-item {
  @include transition(background-color $transition-time $transition-ease, border-color $transition-time $transition-ease, color $transition-time $transition-ease);
  background-color: $button-group-background;
  border-radius: 0;
  border: $button-group-border;
  color: $button-group-color;
  cursor: pointer;
  display: inline-block;
  font-size: modular-scale(0);
  font-weight: normal;
  line-height: $space-base * 2;
  height: $space-base * 2;
  padding: 0 $space-base / 2;
  width: 100%;
}
.buttonGroup > span:first-of-type .buttonGroup-item {
  border-left: $button-group-border;
}
.buttonGroup > span:first-of-type label:focus .buttonGroup-item,
.buttonGroup > span:first-of-type label:hover .buttonGroup-item {
  border-left: solid 1px $button-group-background-checked;
}
.buttonGroup input:checked + .buttonGroup-item {
  background: $button-group-background-checked;
  border: 1px solid $button-group-background-dark;
  color: $button-group-color-checked;
}
.buttonGroup > span:first-of-type input:checked + .buttonGroup-item {
  border-left: solid 1px $button-group-background-dark;
}
