@mixin flash($color) {
  background-color: lighten($color, 32.5%);
  border-color: darken($color, 20%);
  color: darken($color, 40%);
  .flash-header {
    color: darken($color, 60%);
  }
  .flash-link {
    color: darken($color, 70%);
    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}
.flash {
  @extend .font-bodyN4;
  @extend .u-textCenter;
  border: $border-flash;
  border-radius: $border-radius;
  display: block;
  padding: $space-base $space-base / 2;
  position: relative;
}
.flash-link {
  text-decoration: underline;
}
.flash--alert {
  @extend .flash;
  @include flash($color-alert);
}
.flash--error {
  @extend .flash;
  @include flash($color-error);
}
.flash--notice {
  @extend .flash;
  @include flash($color-notice);
}
.flash--success {
  @extend .flash;
  @include flash($color-success);
}
