$color--inputBackground: $color-white;
$color--inputBackgroundFocus: $color-white;
$color--inputBorderFocus: $color-yellow;
$color--inputBorderHover: $color-gray;

$color--radioBackground: $color-white;
$color--radioSelect: $color-blue;

// Forms
// --------------------------------------------------
fieldset {
  background: none;
  border: none;
  border-radius: $border-radius;
  margin: 0;
  padding: $space-base * 2 $space-base;
  position: relative;
  @include media($medium-screen-up) {
    padding: $space-base * 2;
  }
  @include media($large-screen-up) {
    padding: $space-base * 3;
  }
}
input,
label,
select {
  font-family: $fontFamily-body;
  font-size: modular-scale(-1);
  @include media($medium-screen-up) {
    font-size: modular-scale(0);
  }
}
input,
select {
  display: inline-block;
}
label {
  @extend .font-bodyN7;
  display: block;
  margin-bottom: $space-base / 6;
  text-transform: uppercase;
}
label.required::after {
  content: "*";
}
label abbr {
  display: none;
}
#{$all-text-inputs},
select,
select[multiple=multiple],
textarea {
  @include transition(background-color $transition-time $transition-ease, border $transition-time $transition-ease, opacity $transition-time $transition-ease);
  background-color: $color--inputBackground;
  border: solid 1px $color-gray;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-family: $fontFamily-body;
  font-size: modular-scale(0);
  margin-bottom: $space-base;
  padding: $space-base / 3;
  width: 100%;
  height: $space-base * 2;
  &:hover {
    background-color: $color--inputBackgroundFocus;
    border-left: solid 6px $color--inputBorderHover;
  }
  &:focus {
    background-color: $color--inputBackgroundFocus;
    border: solid 1px $color--inputBorderFocus;
    border-left: solid 6px $color--inputBorderFocus;
    outline: none;
  }
}
select {
  width: 100%;
  @include media($medium-screen-up) {
    max-width: 100%;
    width: auto;
  }
}
textarea {
  resize: vertical;
  height: $space-base * 5;
}
input[type="search"] {
  @include appearance(none);
}
input[type="radio"] {
  display: none;
}
input[type="file"] {
  padding-bottom: $space-base / 2;
  width: 100%;
}
input[type="checkbox"] {
  padding-bottom: $space-base;
}
.form-hiddenCheckboxFields {
  @include transition(max-height $transition-time $transition-ease, opacity $transition-time $transition-ease);
  margin-bottom: 15px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.input-details {
  display: block;
  margin: -$space-base 0 $space-base;
}
.input--withSpan {
  text-indent: 9px;
}
.inputSpan {
  margin: 13px 9px;
  position: absolute;
}
.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select {
  border-color: $color-error;
  margin-bottom: 0;
}
.field_with_errors textarea + span.error {
  margin-top: -7px;
}
span.error {
  display: none;
}
.field_with_errors span {
  background-color: $color-error;
  color: $color-white;
  display: block;
  margin: 0 0 24px;
  padding: 4px 12px;
}
input.form-inputError {
  border-color: $color-error;
  margin-bottom: 0;
}
input.form-inputError + .form-inputResult {
  background-color: $color-error;
  color: $color-white;
  margin: 0 0 $space-base;
  padding: 4px 12px;
}
.form-actions {
  margin-top: $space-base * 2;
}
