$gridItems-item-columns--2: 6;
$gridItems-item-columns--3: 4;
$gridItems-item-columns--4: 3;

@mixin gridItems-item-columns($columns) {
  width: (100% / 12) * $columns;
}
.gridItems {
  @include clearfix;
  position: relative;
}
.gridItems-item {
  float: left;
  height: auto;
  overflow: hidden;
  outline: none;
  padding: $space-base;
  text-decoration: none;
  width: 100%;
}
.gridItems-title {
  font-size: modular-scale(1);
  margin: $space-base / 2 0;
}
.gridItems-copy {
  color: $color-body;
  font-size: modular-scale(0);
}
