$hero-color: $color-white;
$hero-colorInverse: $color-black;

.hero {
  background-position: 65% center;
  background-repeat: no-repeat;
  background-size: cover;
  @include media($medium-screen-up) {
    background-position: center;
  }
}
.hero-wrapper {
  @extend .u-outerContainer, .u-clearfix;
  padding-top: $space-base * 2;
  padding-bottom: $space-base * 2;
}
.hero-h1 {
  color: $hero-color;
  text-transform: uppercase;
}
.hero-h2 {
  @extend .subheading;
  color: $hero-color;
  font-size: modular-scale(2);
  @include media($large-screen-up) {
    font-size: modular-scale(3);
  }
}
.hero-body {
  color: $hero-color;
  margin: 0 auto 3em auto;
}
.hero-bodyLink {
  color: $hero-color;
  text-decoration: underline;
  &:active,
  &:focus,
  &:hover {
    color: $color-linkHoverInverse;
  }
}
.hero-footer {
  position: relative;
}
