$color--menuLinkOnDark: $color-white;
$height--menu: $height--siteHead;
.menu {
  float: none;
  height: $height--menu;
  text-align: center;
  z-index: $zIndex-9;
}
.menu--right {
  @extend .menu;
  float: right;
  text-align: right;
  @include media($medium-screen-up) {
    margin-right: 0;
  }
}
.menu-list {
  display: block;
}
.menu-listItem{
  background: transparent;
  display: inline-block;
  line-height: $height--menu;
  margin-left: 0;
  overflow: hidden;
  padding: 0 $space-base / 2;
  width: auto;
  @include media($mobileMenuBreak) {
    margin-left: $space-base;
  }
}
.menu-itemLink {
  @include transition(color $transition-time $transition-ease);
  color: $color--menuLinkOnDark;
  text-transform: uppercase;
  &:active,
  &:focus,
  &:hover {
    color: $color-linkHover;
  }
}
