.pageScroller {
  display: inline-block;

  a {
    text-decoration: none;
  }

  aside {
    @include media($large-screen) {
      @include span-columns(4);
    }
  }
}
.pageScroller-link {
  display: block;
  margin-right: $space-base;
  outline: none;
  padding: ($space-base / 2) 0;

  &:last-child {
    margin-bottom: $space-base;
  }
}
