.shareBtns-btn,
.shareBtns-label {
  @extend .u-textCenter;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 31px;
  margin: 0 $space-base;
}
.shareBtns-label {
  @extend .font-bodyN4;
  color: $color-grayDark;
  line-height: 31px;
}
// img.shareButtons-buttonImage {
//   width: 1.5em;
// }
