.singleFieldForm {
  @extend .u-row;
}
.singleFieldForm input,
.singleFieldForm .input,
.singleFieldForm-form,
.singleFieldForm-button {
  @include media($medium-screen-up) {
    display: inline-block;
  }
}
.singleFieldForm-form {
  text-align: left;
}
.singleFieldForm-input {
  @include media($medium-screen-up) {
    min-width: 224px;
    vertical-align: top;
    width: auto;
  }
  @include media($large-screen-up) {
    min-width: 320px;
  }
}
.singleFieldForm-button {
  width: 100%;
  @include media($medium-screen-up) {
    margin: 0 0 0 $space-base;
    width: auto;
  }
}
.singleFieldForm-form,
.singleFieldForm .singleFieldForm-button {
  margin-bottom: $space-base;
  vertical-align: bottom;
}
