$height--siteFoot: $space-base * 3;
$color--siteFootLinks: $color-link;
$color--siteFootLinksHover: $color-linkHover;

.siteFoot {
  // background: $color--siteFoot;
}
.siteFoot-wrapper {
  @extend .u-clearfix;
  @extend .u-outerContainer;
  text-align: center;
  @include media($medium-screen-up) {
    text-align: left;
  }
}
.siteFoot-logo {
  @extend .siteHead-logo
}
.siteFoot .siteFoot-logo {
  @extend .u-clearfix;
  float: none;
  @include media($medium-screen-up) {
    float: left;
  }
}
.siteFoot-wordmark {
  @extend .siteHead-wordmark;
}
.siteFoot-logo .siteFoot-wordmark {
  color: $color-black;
  line-height: 1;
  padding-top: $space-base;
  @include media($medium-screen-up) {
    line-height: $height--siteFoot;
    padding-top: 0;
  }
}
.copyright {
  line-height: $height--siteFoot;
  @include media($medium-screen-up) {
    margin-left: $space-base * 2;
  }
}
.siteFoot .menu {
  float: none;
  z-index: $zIndex-9;
  text-align: center;
  @include media($medium-screen-up) {
    float: right;
  }
}
.siteFoot .menu-listItem {
  @extend .font-bodyN4;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: $zIndex-9;
  @include media($medium-screen-up) {
    background: transparent;
    display: inline-block;
    width: auto;
  }
}
.siteFoot .menu-itemLink {
  color: $color--siteFootLinks;
  display: block;
  @include media ($medium-screen-up) {
    display: inline-block;
    padding: 0 $space-base;
  }
  &:active,
  &:focus,
  &:hover {
    color: $color--siteFootLinksHover;
    text-decoration: underline;
  }
}
