$color--logoOnDark: $color-white !default;
$color--siteHead: $color-blue !default;
$height--siteHead: $space-base * 3 !default;
$height--mobileBtn: $space-base !default;

.siteHead {
  background-color: $color--siteHead;
  height: $height--siteHead;
}
.siteHead-wrapper {
  @extend .u-outerContainer;
  border-bottom: solid 1px rgba($color--siteHead, .25);
  height: $height--siteHead;
  position: relative;
}
.siteHead-logo {
  cursor: pointer;
  float: left;
}
.siteHead-wordmark {
  color: $color--logoOnDark;
  font-size: modular-scale(1);
  line-height: $height--siteHead;
  margin: 0;
  text-transform: uppercase;
}
