@mixin triangle($color, $width) {
  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
    border: solid;
    border-color: $color transparent transparent transparent;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-width: $width $width 0 0;
  }
}
