table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $space-base / 2 0;
  table-layout: fixed;
  width: 100%;
}
th {
  border-bottom: 1px solid $color-grayDark;
  font-weight: 600;
  padding: $space-base / 2 0;
  text-align: left;
}
td {
  border-bottom: $border-solid;
  padding: $space-base / 2 0;
}
tr,
td,
th {
  vertical-align: middle;
}
